{% extends 'base.html' %} {% block title %} {{ pet.name }} {% endblock %} {%
block content %}

<h1>Edit {{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}" alt="{{ pet.name }} photo" />
{% endif %}
<p>Species: {{ pet.species }}</p>
{% if pet.age %}
<p>Age: {{ pet.age }}</p>
{% endif %}

<form action="" method="post">
  {{ form.hidden_tag () }} {% for field in form if (field.widget.input_type !=
  'hidden') and (field.widget.input_type != 'submit') and
  (field.widget.input_type != 'checkbox')%}
  <div class="form-group">
    {{ field.label }} {{ field(class="form-control") }}

    <section>
      {% if field.errors %} {% for error in field.errors %}
      <span class="text-danger">{{ error}}</span>
      {% endfor %} {% endif %}
    </section>
  </div>
  {% endfor %} {{ form.available.label }} {{ form.available(class="form-check")
  }} {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}
